.topheader {
    padding: 10px;
    background-color: rgb(26, 26, 209);
    margin-top: 0px;
    color: bisque;
    border-bottom: solid 3px rgb(2, 2, 115);
    box-shadow: -5px 5px 10px #afafaf;
}
.but_save {
    width: 80px;
    background-color: rgb(179, 211, 52);
    margin-left: 2px;  
}
.control {
    background-color: rgb(105, 203, 105);
    margin-left: 2px;  
}
.error {
    color: rgb(243, 10, 10);
}
.clear {
    background-color: rgb(248, 107, 107);
    margin-left: 8px;
}
.apart {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 2px rgb(2, 2, 115);
}
.footer {
    padding: 10px;
    background-color: rgb(26, 26, 209);
    color: bisque;
    margin-bottom: 0px;
    border-top: solid 3px rgb(2, 2, 115);
}